.btn-apply {
      background-color: #000000ff;
      color: #fff;
      border-radius: 50px;
      padding: 8px 25px;
      font-weight: 600;
      margin-top: 18px;
      transition: all 0.3s ease;
      font-size: 14px;
    }

.btn-apply:hover {
 background: linear-gradient(90deg, #ff4b2b, #ffb400);
 color: #fff;
}